*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    

}
body{
    font:8pt tahoma;
    line-height: 1.8em;
    direction: rtl;
}

#header-area{
    display: block;
    box-sizing: border-box;
    background: url('../image/header-bg.jpg') no-repeat;
    min-height: 250px;
}
.container{
    text-align: justify;
    width: 1170;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;

}
.row{
    margin-left: -15px;
    margin-right: -15px;

}
.nav{
    padding-right: 0px;
    padding-left: initial;
    list-style: none;
}
.navbar-nav{
    margin: 0px;
}
